{% extends 'base.html' %}

{% block title %}ایجاد درخواست سفر{% endblock %}

{% block content %}
<h1>📌 ایجاد درخواست سفر</h1>

{% if message %}
    <p style="color: green;">{{ message }}</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label>نام مسافر</label><br>
    <input type="text" name="passenger_name" required><br><br>

    <label>شماره تماس</label><br>
    <input type="text" name="passenger_phone" required><br><br>

    <label for="request_type">نوع درخواست:</label>
    <select id="request_type" name="request_type" required>
        <option value='درخواست دربست'>درخواست دربست</option>
        <option value='درخواست عادی' selected>درخواست عادی</option>
        <option value='عجله دارم (حساب بقیه میکنم)'>عجله دارم (حساب بقیه میکنم)</option>
    </select>


    <label>مبدأ (روستا)</label><br>
    <input type="text" name="origin" required><br><br>

    <label>مقصد (شهر)</label><br>
    <input type="text" name="destination" required value="شهر"><br><br>

    <button type="submit">ثبت درخواست</button>
</form>

<hr>
<a href="{% url 'queue_status' %}">🚗 وضعیت سفرها</a>
{% endblock %}
